binder_call(hal_carsenze_client, hal_carsenze_server)
binder_call(hal_carsenze_server, hal_carsenze_client)
hal_attribute_hwservice(hal_carsenze, hal_carsenze_hwservice)